.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 3 1px 3px -2px #000;
    margin-bottom: 1px;
    background:rgb(31, 133, 161);
}

.nav-logo{
    width: 120px;
    height: 105px;
    margin-right: 200px;
}

@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo{
        width: 90px;
        height: 80px;
        margin-right: 200px;
    }
}