.quiz-page {
  font-family: Poppins;
  padding: 20px;
}

.quiz-heading-section {
  text-align: center;
  margin-top: 105px;
  margin-bottom: 20px;
}

.quiz-heading-section h1 {
  font-size: 3em;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

.quiz-subheading-section {
  text-align: center;
  margin-bottom: 40px;
}

.quiz-subheading-section h2 {
  font-size: 1.5em;
  color: #555;
}

.stress-o-meter-wrapper-class {
  background: linear-gradient(0deg, rgba(34,195,174,1) 0%, rgba(241,253,45,1) 100%);
  border-radius: 15px;
  height: 310px;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 75px;   
  box-shadow: 15px 15px 15px rgba(206, 205, 205, 0.5);
}

.quiz-all-stress-o-meter-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 111px;
  margin-right: 50px;
  gap: 25px;
  padding-top: 60px;
}

.quiz-all-stress-o-meter-left-section img {
  width: 450px;
  height: 200px;
  border-radius: 10px;
}

.quiz-all-stress-o-meter-right-section {
  margin-left: 20px;
  text-align: left;
}

.quiz-all-stress-o-meter-right-section h2 {
  font-size: 2em;
  color: #000000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

.quiz-all-stress-o-meter-right-section p {
  font-size: 1.2em;
  color: #000000;
  margin: 10px 0;
}

.quiz-stress-check-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #61a1d5;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.quiz-stress-check-button:hover {
  background-color: #5091c3;
}

.quiz-cards-row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.quiz-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  width: 350px;
  margin-bottom: 25px;
  /* transition: transform 0.2s; */
}

.quiz-card a {
  /* text-decoration: none; */
  color: inherit;
}


.quiz-card img {
  width: 350px;
  height: 250px;
  display: block;
}

.quiz-card h3 {
  font-size: 1.5em;
  color: #333;
  margin: 15px 0;
}

.quiz-card:hover {
  transform: translateY(-5px);
}


.quiz-cards-last-row {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  margin-left: 100px;
  margin-bottom: 40px;
}

.quiz-footer{
  margin-bottom: 50px;
}