  .attachment-style-pg-quiz-container {
    margin-top: 100px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.attachment-style-pg-h2 {
  margin-top: 15px;
  margin-bottom: 40px;
  text-align: left;
}
.attachment-style-pg-heading {
    text-align: center;
    font-size: 2.5em; 
    color: #333;
    margin-bottom: 40px; 
}

.attachment-style-pg-form {
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto;
    background: #FFCAC2; 
    padding: 40px;
    border-radius: 12px; 
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.attachment-style-pg-question-block {
    margin: 50px 0; 
    background: #fff;
    padding: 30px; 
    border-radius: 12px; 
    text-align: left; 
}

.question-block h2 {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 20px; 
}

.attachment-style-pg-options {
    /* margin-top: 10px;  */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.options label {
    display: block;
    margin-bottom: 25px;
    /* font-size: 1.9em; */
    color: #333;
}

.options input[type="radio"] {
    margin-right: 15px;
}

.attachment-style-pg-submit-button {
    text-align: center;
    justify-content: center;
    margin-top: 40px; /* Increased top margin for spacing */
}

.attachment-style-pg-submit-button button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button button:hover {
    background-color: #0056b3;
}

.attachment-style-pg-result {
  height: 194px;
  background-color: #FFCAC2;
  border-radius: 15px;
  margin-top: 50px;
  margin-left: 95px;
  margin-right: 100px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 35px;
  padding-top: 20px;
  margin-bottom: 33px;
}

.attachment-style-pg-result-h2{
  color: black;
  text-align: left;
  word-spacing: 0.11em;
  letter-spacing: 0.111em;
}

.attachment-style-pg-result-p-tag{
  word-spacing: 0.09em;
  letter-spacing: 0.01em; 
}