.list-podcast {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.listpodcast-format-main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    gap: 15px;
    width: 100%;
    padding: 10px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
}

.listpodcast-format {
    align-items: center;
    font-weight: 500;
}

.listpodcast-edit-icon,
.listpodcast-remove-icon {
    cursor: pointer;
    margin: auto;
    height: 20px;
    text-align: center;
}

.listpodcast-allpodcasts {
    overflow-y: auto;
    width: 100%; /* Ensure it takes full width */
}

@media (max-width: 800px) {
    .list-podcast {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 10px 30px;
        margin: 20px auto;
    }
    .listpodcast-format-main {
        padding: 15px 0px;
        color: #454545;
        font-size: 12px;
    }
    .listpodcast-edit-icon,
    .listpodcast-remove-icon {
        font-size: 12px;
        height: 15px;
    }
}
